body{
  background-color: rgb(170, 170, 170);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.tableStyle {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableStyle th,
  .tableStyle td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tableStyle th {
    background-color: #f2f2f2;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .options{
    display: flex;
    justify-content: space-evenly;
  }

  .header{
    display: flex;
    justify-content: center;
    font-size:xx-large
  }

  .srch{
   margin-left: 50%;
   margin-top: 10px;
  }